{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <style>
    </style>
    {% block css %}
    {% endblock %}
      <script src="{% url 'javascript-catalog' %}"></script>

    {% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        let _ = gettext ;
    </script>
    {% endblock %}
  </head>
  

  <body>
    <nav>
      <ul>
        <li style="float:right">
          <a href="{% url 'account_logout' %}">{% trans "Sign out" %}</a>
        </li>
        <li style="float:right">
          {% if user.is_authenticated %}
          {% trans 'Signed in as ' %} {{ user.username }}
          {% endif %}
        </li>
      </ul>
    </nav>

    <section id="content">
      {% block content %}{% endblock %}
    </section>

    {% block javascript %}
    {% endblock %}
    
  </body>
</html>
