{% extends 'consultation/base.html' %}

{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'consultation/base.css' %}" />
{% endblock %}


{% block content %}
<script>
  let url_approx_search = "{% url 'api:mcuser-list' %}" ;
  let url_start = "{% url 'consultation:start' 0 %}" ;
  url_start = url_start.slice(0,-1) ;
</script>
<div>
  {% trans "Find a patient" %} ({% trans "by last name excerpt" %}):
  <input id="search-field" type="text" value=""><button id="search-button">{% trans 'Search' %}</button>
  <table class='hp-table'>
    <thead style="visibility: hidden" id="table-head">
      <tr>
        <td>{% trans 'First name' %}</td> <td>{% trans 'Last name' %}</td> <td>{% trans 'Date of birth' %}</td>
      </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
  </table>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'consultation/search.js' %}"></script>
{% endblock %}
