{% extends 'consultation/base.html' %}
{% load crispy_forms_tags %}
{% load rest_framework %}
{% load static %}
{% load i18n %}


{% block css %}
<link rel="stylesheet" href="{% static 'consultation/tabs.css' %}" />
{% endblock %}

{% block content %}
{% csrf_token %}
<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  let formset_list = {{ formset_list | safe}} ;

  let url_update_user = "{% url 'api:mcuser-detail' user_pk %}" ;
  let url_save_additional_personal_data = "{% url 'consultation:save_additional_personal_data' mcuser.pk %}";
</script>

    <h1> {% trans 'Consultation for' %} {{ mcuser.user.first_name }} {{ mcuser.user.last_name }} </h1>

    <div class="container">
    <div class="tab">
  <button class="tab-link" onclick="open_tab(event, 'generic')">{% trans 'Generic' %}</button>
  <button class="tab-link" onclick="open_tab(event, 'further')">{% trans 'Complementary' %}</button>
  <button class="tab-link" onclick="open_tab(event, 'clinical')">{% trans 'Medical exams' %}</button>
  <button class="tab-link" onclick="open_tab(event, 'periods')">{% trans 'Periods' %}</button>
  <button class="tab-link" onclick="open_tab(event, 'trajectory')">{% trans 'Trajectory' %}</button>
</div>

<div id='generic' class='tab-content'>
  <h3>{% trans 'Generic' %}</h3>
  <h4>{% trans 'Patient' %}</h4>
  <form id="ser_user" onsubmit="return false">
    {% csrf_token %}
    {% render_form user_serializer %}
    <button id='btn_ser_user'>{% trans 'Save' %}</button>
    <div id='error-list' style='color:brown'>  </div>
  </form>
</div>

<div id='further' class='tab-content'>
  <h3>{% trans 'Additional information' %} </h3>
  <div>
  <h4></h4>
  <form id='personal_data_form'>
    {{ additional_personal_data_form | crispy}}
  </form>
  <h4>{% trans 'Motivations' %}</h4>
  <form id='{{formset_list.0.prefix}}' onsubmit="return false">
    {{ vmotivations_form | crispy }}
    <button id='btn_more_{{formset_list.0.prefix}}'>{% trans 'Add a motivation' %}</button>
  </form>
  <h4>{% trans 'Contraindications' %}</h4>
  <form id='{{formset_list.1.prefix}}' onsubmit="return false">
    {{ vcontraindications_form | crispy }}
    <button id='btn_more_{{formset_list.1.prefix}}'>{% trans 'Add a contraindication' %}</button>
  </form>
  <br/><br/><br/>
  <button id='btn_comp_save'>{% trans 'Save' %}</button>
  </div>
</div>
<div id='clinical' class='tab-content'>
  <h3>{% trans 'Medical exams' %}</h3>
  {% for exam  in exams %}
  <h4> {{exam.title}} </h4>
  <form id='{{exam.prefix}}' onsubmit="return false">
    {{ exam.form_set | crispy }}
    <button id='btn_more_{{exam.prefix}}'>{%  trans "Add a " %} {{exam.title | lower}} </button>
    <button id='btn_save_{{exam.prefix}}'>{% trans "Save" %}</button>
  </form>
  {% endfor %}
</div>
<div id='periods' class='tab-content'>
  <h3>{% trans 'Periods' %}</h3>
  {% for period  in periods %}
  <h4> {{period.title}} </h4>
  <form id='{{period.prefix}}' onsubmit="return false">
    {{ period.form_set | crispy }}
    <button id='btn_more_{{period.prefix}}'>{%  trans "Add a " %} {{period.title | lower}}</button>
    <button id='btn_save_{{period.prefix}}'>{% trans "Save" %}</button>
  </form>
  {% endfor %}
</div>
<div id='trajectory' class='tab-content'>
  <h3>{% trans 'Trajectory' %}</h3>
</div>
</div>






{% endblock %}

{% block javascript %}
<script src="{% static 'consultation/search.js' %}"></script>
<script src="{% static 'consultation/tabs.js' %}"></script>
<script src="{% static 'consultation/user_form.js' %}"></script>
<script src="{% static 'consultation/formsets-show-hide.js' %}"></script>
<script src="{% static 'consultation/save.js' %}"></script>
{% endblock %}
