.hp-table{
    width:100%; 
    border-collapse:collapse;
    cursor: pointer
}
.hp-table td{ 
    padding:7px; border:#4e95f4 1px solid;
}
.hp-table thead tr{
    background-color: #6fb7f6;
}
/* Define the default color for all the table rows */
.hp-table tr{
    background: #b8d1f3;
}
/* Define the hover highlight color for the table row */
.hp-table tbody tr:hover {
    background-color: #ffff99;
}
